/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,500;1,6..12,600;1,6..12,700&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');
/*font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto', sans-serif;*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #13181A;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'Nunito Sans', sans-serif;
    color: #27322C;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
    font-family: 'Nunito Sans', sans-serif;
    color: #27322C;
    /*color: #2f4f4f;*/
}

h3 {
    font-size: 1.1rem;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
    font-family: 'Nunito Sans', sans-serif;
    color: #27322C;
}

p {
    padding-bottom: 10px;
}

/* Header */
header {
    background-color: #ECF7FB;
    /* Padding right and left for margin*/
    padding: 0 1rem;
    position: fixed;
    z-index: 5;
    width: 100%;
    /*For "3D effect"*/
    box-shadow: 0 3px 3px #ac989d;
    /* To include navbar toggle in header */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

a:active {
    font-size: 1.2rem;
    color: #74939E;
    text-decoration: underline;
}

.current {
    border-bottom: 2px groove #ac989d;
}

#navbar {
    font-size: 1.1rem;
    letter-spacing: 2px;
    list-style-type: none;
}

#navbar li {
    margin-bottom: 1em;
}

/* Navbar dropdown toggle style for small screens */
nav {
    /* To seperate from parent element: header */
    position: absolute;
    /* styles like header*/
    background-color: #ECF7FB;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #ac989d;
    /* To hide unless toggled, i.e. checkbox input checked */
    display: none;
    /* To not to cover the h1 header when dropdown menu toggled.*/
    top: 100%;
}

/* Pseudo-class chacked to toggle when burger menu activated, i.e. checkbox input checked. Tilde to target adjoining nav element.*/
#navbar-toggle:checked~nav {
    display: block;
}

/* To hide the checkbox */
#navbar-toggle {
    display: none;
}

/* Enlargen navbar-toggle-label to make it easier to target */
.navbar-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: #ECF7FB;
    /* Push Footer down */
    flex: 1 0 auto;
    /* Push down from header */
    margin-top: 43px;
}

.active {
    text-decoration: underline;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.box-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Hero image section */
.no-wrap {
    white-space: nowrap;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero_skaftafell_istock_by-vladislav-mavrin.jpg) no-repeat center center / cover;
    position: relative;
}

#hero-text {
    background: rgba(245, 245, 245, 0.37);
    position: absolute;
    top: 50px;
    width: 80%;
    min-height: 150px;
    padding: 40px 20px;
}

#hero-text h3 {
    font-style: italic;
}

/* Main section */
.container {
    width: 90%;
    margin: 20px auto;
}

.box {
    padding: 0 20px;
    text-align: justify;
    text-justify: inter-word;
}

hr {
    border-top: 2px groove #ac989d;
    margin: 20px 0;
}

.box-image {
    height: 70vw;
    margin-bottom: 20px;
}

#trail-1-image {
    background: url(../images/home_svartifoss_by-ronile-pixabay.com.jpg) no-repeat center center / cover;
}

#trail-2-image {
    background: url(../images/home_hike-skaftafellsheidi_own-collection.jpg) no-repeat center center / cover;
}

#trail-3-image {
    background: url(../images/home_hike-morsardalur_own-collection.JPG) no-repeat center center / cover;
}

/* Gallery */
#images img {
    width: 100%;
    border: 1.5px solid #ECF7FB;
}

/* Contact form */
input[type=text],
input[type=email],
textarea {
    width: 100%;
    border: 1px solid #594E52;
    resize: vertical;
    padding: 10px;
}

input[type=submit] {
    width: 100px;
    background-color: #594E52;
    color: #ECF7FB;
    padding: 8px;
    margin-top: 8px;
}

input[type=reset] {
    width: 100px;
    background-color: #ECF7FB;
    color: #594E52;
    padding: 8px;
    margin-top: 8px;
    margin-left: 8px;
}

input[type=submit]:hover {
    background-color: whitesmoke;
    color: #27322C;
    font-size: 1.1rem;
}

input[type=reset]:hover {
    background: whitesmoke;
    font-size: 1.1rem;
}

input[type=submit]:active {
    background-color: whitesmoke;
    color: #27322C;
    font-size: 1.2rem;
}

input[type=reset]:active {
    background: whitesmoke;
    font-size: 1.2rem;
}

.container-contact {
    min-width: 80%;
    margin: 40px auto;
    padding: 5%;
    background: rgba(245, 245, 245, 0.644);
}

.box-form {
    padding: 5%;
    margin-top: 20px;
    line-height: 1.2;
    border: 2px solid #ac989d;
}

.form-input {
    display: block;
}

#box-form-center {
    display: flex;
    justify-content: center;
}

#contact-background {
    background: url(../images/contact_hvannadalshnukur_own-collection.jpg) no-repeat center center / cover;
}

#visitor-photos {
    margin-top: 5px;
}

#disclaimer {
    font-size: 0.7rem;
    font-style: italic;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 5px;
}

#box-address {
    justify-content: center;
    text-align: center;
}

/* Thank you - feedback to contact form*/
#thank-you-background {
    background: url(../images/thank-you_morsardalur_1_own-collection.JPG) no-repeat center center / cover;
    width: 100%;
    position: relative;
}

#thank-you-text {
    width: 60%;
    top: 20px;
    padding: 5px;
    font-weight: 600;
    font-size: 3rem;
    background: rgba(245, 245, 245, 0.644);
    position: absolute;
}

/* Footer */
footer {
    background-color: #594E52;
}

#footer-icons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px 0;
    list-style-type: none;
}

#footer-icons i {
    font-size: 200%;
    padding: 5%;
    color: #ECF7FB;
}

/* Media query: screens ≥ 768px (tablets) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        /* Display navbar in the header */
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    /* To show navigation items in a row */
    #navbar {
        display: flex;
    }

    #navbar>li {
        padding-left: 1rem;
    }

    .navbar-toggle-label {
        display: none;
    }

    #navbar a:hover {
        border-bottom: 2px groove #ac989d;
    }

    #header-heading {
        font-size: 250%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

    /* Main */

    /* Push down from header */
    main {
        margin-top: 59.59px;
    }

    /* Hero image section */
    #hero-text {
        width: 70%;
    }

    /* Trail section */
    #trail-1,
    #trail-2,
    #trail-3 {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    /* Trail section */
    #trail-1-image,
    #trail-2-image,
    #trail-3-image {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .box-image,
    .box-text {
        width: 50%
    }

    .box-text {
        padding-left: 20px;
    }

    .box-text>p {
        margin-bottom: 15px;
    }

    /* Gallery */
    #images {
        column-count: 2;
        column-gap: 1.5px;
    }

    /* Contact form */
    .box-form {
        width: 80%;
    }

    /* Contact form */
    .container-contact {
        width: 90%;
    }

    /* Media query: screens ≥992px (laptops, desktops)*/
    @media screen and (min-width: 992px) {

        /* Hero image section */
        #hero-text {
            width: 70%;
        }

        #hero-text h2 {
            font-size: 2rem;
        }

        #hero-text h3 {
            font-size: 1.5rem;
        }

        /* Contact form */
        .container-contact {
            width: 70%;

            .box-form {
                width: 60%;
            }

            /* Trail section */
            #trail-1-image,
            #trail-2-image,
            #trail-3-image {
                width: 100%;
                max-width: 500px;
                height: auto;
            }

            /* Gallery */
            #images {
                column-count: 3;
                column-gap: 1.5px;
            }
        }

        /* Media query: screens ≥1200px (laptops, desktops)*/
        @media screen and (min-width: 1200px) {
            #hero-text {
                width: 70%;
            }

            /* Trail section */
            #trail-1-image,
            #trail-2-image,
            #trail-3-image {
                width: 100%;
                max-width: 600px;
                height: auto;
            }

            /* Contact form */
            .box-form {
                width: 50%;
            }
        }