/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500;600;700&family=Roboto:ital,wght@0,300;1,300&display=swap');
/*font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto', sans-serif;*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #13181A;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'Nunito Sans', sans-serif;
    color: #27322C;
}

h2 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
    font-family: 'Nunito Sans', sans-serif;
    color: #27322C;
    /*color: #2f4f4f;*/
}

/* Header */
header {
    background-color: #ECF7FB;
    /* Padding right and left for margin*/
    padding: 0 1rem;
    position: fixed;
    z-index: 5;
    width: 100%;
    /*cast shadow - first value 0 for right+left. Second value vertical offset, positiv below, negative above. Third value blur.*/
    box-shadow: 0 3px 3px #ac989d;
    /* To include navbar toggle in header */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

a:active {
    font-size: 1.2rem;
    color: #74939E;
    text-decoration: underline;
}

.current {
    border-bottom: 2px groove #ac989d;
}

#navbar {
    font-size: 1.1rem;
    letter-spacing: 2px;
    list-style-type: none;
}

#navbar li {
    margin-bottom: 1em;
}

/* Navbar dropdown toggle style for small screens */
nav {
    /* To seperate from parent element: header */
    position: absolute;
    /* styles like header*/
    background-color: #ECF7FB;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    /* Box-shadow to-do: check if subject to change */
    box-shadow: 0 3px 3px #ac989d;
    /* To hide unless toggled, i.e. checkbox input checked */
    display: none;
    /* To not to cover the h1 header when menu toggled. The top of this element starts at the bottom of its parent, the header. 0% would be at the top of the parent element, 100% starts at the bottom. */
    top: 100%;
}

/* Pseudo-class chacked to toggle when burger menu activated, i.e. checkbox input checked. Tilde to target adjoining nav element.*/
#navbar-toggle:checked~nav {
    display: block;
}

/* To hide the checkbox */
#navbar-toggle {
    display: none;
}

/* Enlargen navbar-toggle-label to make it easier to target */
.navbar-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: #ECF7FB;
    /* Push Footer down */
    flex: 1 0 auto;
    /* Push down from header */
    margin-top: 43px;
}

.active {
    text-decoration: underline;
}

/* Footer */
footer {
    /*background-color: #EAD9DD;*/
    background-color: #594E52;
    /*background-color: #ac989d;*/
    box-shadow: 0 3px -3px #ac989d;
    /*doesn't work*/
}

#footer-icons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px 0;
    list-style-type: none;
}

#footer-icons i {
    font-size: 200%;
    padding: 5%;
    color: #ECF7FB;
}

/* Media query for tablets and larger screens (768px and larger) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        /* Display navbar in the header */
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    /* To show navigation items in a row */
    #navbar {
        display: flex;
    }

    #navbar>li {
        padding-left: 1rem;
    }

    .navbar-toggle-label {
        display: none;
    }

    #header-heading {
        font-size: 150%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

    /* Main */

    /* Push down from header */
    main {
        margin-top: 59.59px;
    }

    #navbar a:hover {
        border-bottom: 2px groove #ac989d;
    }

    /* Footer */
    #footer-icons {
        justify-content: space-evenly;
        text-align: center;
        padding: 10px 0;
    }
    
    #footer-icons i {
        font-size: 150%;
        padding: 5%;
        color: #ECF7FB;
    }

}